
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
    color: red;
}

/* HEADER */
header {
    background: yellow;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    font-size: 18px;
}

/* CONTENT SECTION */
.content {
    background: yellow;
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

.content h2 {
    margin-top: 0;
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
